@model List<StaffDTO>

<a asp-action="Create">
    <button type="button" class="btn btn-success">Create</button>
</a>

<table class="table">
    <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">FirstName</th>
            <th scope="col">LastName</th>
            <th scope="col">Contact</th>

        </tr>
    </thead>
    <tbody>
        @foreach (var staff in Model)
        {
            <tr>
                <th scope="row">@staff.Id</th>
                <td>@staff.FirstName</td>
                <td>@staff.LastName</td>
                <td>@staff.PhoneNumber</td>
            
            <td>
            <a asp-action="Delete" asp-route-id="@staff.Id">
                <button type="button" class="btn btn-danger">Delete</button>
            </a>
            </td>
            </tr>
         }
        </tbody>
    </table>
